/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Font and Baseline Grid*/

 html { 
    //background-image: url(http://basehold.it/i/22);
    color: #333;
}
body {
  font-size: 16px;  
  line-height: 22px;
  margin: 0 auto;
}
div.wrapper{
  margin: 0 auto;
  max-width: 1200px;
}
h1, h2, h3, h4 {
    font-family: $fontH;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
  margin-top: 44px;
  margin-bottom: 22px;
}
h3 {
  font-size: 24px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 22px;
  margin-bottom: 22px;
  font-family: $fontB;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}



*, *:before, *:after{
    box-sizing: border-box;
}
.logoReplace a {
    display: inline-block;
    max-width: 150px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
    text-indent: -9999px;
    margin: 0 auto;
    &:after{
      display: none;
    }
}
img {
    max-width: 100%;
}

.button {
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 0px 20px;
  margin: 11px .5% 0 .5%;
  display: inline-block;
  width: 46%;
  font-family: $fontB;
  font-weight: 300;
  font-size: 16px;
  background-color: $red;
  
  @include bp($ctaBreak){
    max-width: 150px;
  }
}

.overImageLeft{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+51,ffffff+100&0.65+0,0.65+92,0+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 51%, rgba(255,255,255,0.65) 92%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.65)), color-stop(51%,rgba(255,255,255,0.65)), color-stop(92%,rgba(255,255,255,0.65)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0.65) 92%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0.65) 92%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0.65) 92%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0.65) 92%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  
  @include bp($menuBreak){  //more gradual fadeout
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.65+0,0.65+80,0+94 */
background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 80%, rgba(255,255,255,0) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.65)), color-stop(80%,rgba(255,255,255,0.65)), color-stop(94%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 80%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 80%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 80%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 80%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%); /* W3C */

  }
}

.overImageBottom  {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.65+10,0.65+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 10%, rgba(255,255,255,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,0.65)), color-stop(100%,rgba(255,255,255,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 10%,rgba(255,255,255,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 10%,rgba(255,255,255,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 10%,rgba(255,255,255,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 10%,rgba(255,255,255,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6ffffff',GradientType=0 ); /* IE6-9 */
}

.overImageRight {  //left for footer
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+51,ffffff+100&0.65+0,0.65+51,0+69 */
background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.65) 51%, rgba(255,255,255,0) 69%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.65)), color-stop(51%,rgba(255,255,255,0.65)), color-stop(69%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0.65) 51%,rgba(255,255,255,0) 69%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

  @include bp($menuBreak){  //right, more gradual fadeout
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+6,0.65+20,0.65+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.65) 20%, rgba(255,255,255,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(6%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.65)), color-stop(100%,rgba(255,255,255,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.65) 20%,rgba(255,255,255,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.65) 20%,rgba(255,255,255,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.65) 20%,rgba(255,255,255,0.65) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 6%,rgba(255,255,255,0.65) 20%,rgba(255,255,255,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6ffffff',GradientType=1 ); /* IE6-9 */
  }
}


.slanted {
    font-style: italic;
}

.stronger {
    font-weight: 700;
}

.CTA {
  clear: both;
  padding-top: 0px;
    p{
        font-family: $fontH;
        font-size: 24px;
        line-height: 33px;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none;
    visibility: hidden;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyHidden.focusable:active,
.visuallyHidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}