header{
	position: relative;
	h1{
		display: inline-block;
		margin: 0;
		line-height: 0;
		padding-left: 10px;
		@include bp($med){
			padding-left: 25px;
		}

		@include bp($large){
			padding-left: 61px;
		}

	}
	div.topBar{
		background-color: rgba(255,255,255,.75);
		height: 60px;
	}
	.menuButton  {
		position: absolute;
		display: inline-block;
		right: 10px;
		top: 12px;
		@include bp($menuBreak){
			display: none !important;
		}
	}
	.menuHide{
		display: none;
	}

	///remove this when real image is used
	img{
		background-color: tan;
	}


	nav{
		a{
			text-decoration: none;
			padding: 5px 15px;
			color: #000;
			font-family: $fontH;
			font-size: 18px;

			@include bp($menuBreak){
				padding: 0;
			}
		}
	}
	ul{
		position: absolute;
		right: 0;
		z-index: 10;
		list-style: none;
		padding: 0;
		margin: 0;
		background-color: #fff;

		@include bp($menuBreak){
			display: block !important;
			width: 72%;
			top: 17px;
		}
		@include bp(800px){
			width: 76%;
		}
	}
	li{
		display: block;
		a{
			display: inline-block;
			font-size: 16px;
		}

		@include bp($menuBreak){
			float: left;
			width: 20%;
			margin-right: 20px;

		}

	} 
	@include bp($menuBreak){
			li:first-child{
				width: 11%;

				@include bp(800px){
					width: 6%;
				}
			}	
			li:nth-child(2){
				width: 29%;
			}
			li:nth-child(3){
				width: 27%;
			}
			li:nth-child(4){
				width: 17%;
				margin-right: 0;
				@include bp(700px){
					float: right;
				}

			}
		}
	@include bp(700px){
		li{
			max-width: 130px;
		}
	}
	.contactLink{
		color: $red;
	}
	p {
		padding: $padSmall;
		margin-top: 0;
		margin-bottom: 0;

		@include bp($med){
			padding: $padMed;
		}
		@include bp($large){
			padding: $padLarge;
		}

		a{
			color: #333;
		}
	}
	.headline {
		text-transform: uppercase;
		font-size:22px;
		font-weight: 700;
		margin-top: 22px;
		margin-bottom: 11px;

		@include bp($fontBreak){
			font-size: 40px;
			margin-bottom: 22px;
		}
	}
	.tagline {
		margin-bottom: 22px;

		@include bp($fontBreak){
			font-size: 18px;
		}

	}


	div.overImageLeft {
		position: absolute;
		bottom: -1px;
		max-width: 750px;
		padding-right: 100px;
	}

}
