.offices{
	position: relative;
	h2{
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
	}
	img.officeImage{
		margin-top: -70px;
		position: relative;
		z-index: -5;
	}

	p{
		padding-right: 15px;
		padding-left: 15px;
	}

	div.leaseIncludes{
		background-image: url("../img/leaseIncludes.jpg");
		background-size: cover;
	}
	div.overImageLeft{
		padding-top: 11px;
		padding-bottom: 11px;
	}
	
	.testimonial img{
		padding: 33px 15px 0 15px;
	}
}