.offices{
	position: relative;


	h2{
		display: inline-block;
		padding: $padSmall;
		padding-right: 100px;


		@include bp($med){
			padding: $padMed;
			padding-right: 100px;
			padding-top: 22px;
			padding-bottom: 22px;
		}

		@include bp($large){
			padding-left: 66px;
		}
	}
	img.officeImage{
		margin-top: -70px;
		position: relative;
		z-index: -5;

		@include bp($menuBreak){
			margin-bottom: 44px;
		}

		@include bp($med){
			margin-top: -134px;
		}
	}
	@include bp($menuBreak){
		p.floatUp{
			margin-top: -197px;
			max-width: 710px;
			position: absolute;
			right: 0;
			padding-left: 150px;
			padding-top: 11px;
			padding-bottom: 11px;
		}
	}
	@include bp($large){
		p.floatUp{
			padding-right: 66px;
		}
	}


	@include bp(650px){  //when it goes to fewer lines
		p.floatUp{
			margin-top: -219px;
			padding-top: 33px;
			padding-bottom: 33px;
		}
	}
	p{
		padding: $padSmall;

		@include bp($med){
			padding: $padMed;
		}

	}

	div.leaseIncludes{
		background-image: url("../img/desktop.jpg");
		background-size: cover;
		background-position: right;
		
		@include bp($med){
			width: 43%;
			float: left;
			vertical-align: top;
			margin: $padMed;
			margin-bottom: 22px;
		}

		@include bp($large){
			width: 40%;
			margin-left: 66px;
		}

		@include bp(1000px){
			width: 41%;
		}
		@include bp(1200px){
			width: 42%;
		}


		ul{
			margin-top: 0;
			margin-bottom: 0;
			padding-right: 15px;
			@include bp($med){
				width: 80%;
				max-width: 230px;
			}
			@include bp($large){
				max-width: 250px;
			}
		}
		p{
			margin-bottom: 0;


		}
	}
	div.overImageLeft{
		padding-top: 11px;
		padding-bottom: 33px;
		max-width: 600px;
	}
	
	div.testimonial{
		@include bp($med){
			width: 43%;
			float: right;
			vertical-align: top;
			margin-right: 30px;
		}

		@include bp($large){
			width: 40%;
			margin-right: 66px;
		}

		@include bp(1000px){
			width: 41%;
		}
		@include bp(1200px){
			width: 43%;
		}


		p{
			@include bp($med){
				padding: 0;

			}
		}
	}

	.testimonial img{
		padding: $padSmall;
		padding-top: 33px;

		@include bp($med){
			padding: 0;
			width: 100%;
		}
	}

	div.CTA p{
		@include bp($large){
			padding: $padLarge;
		}
	}
	
}