.training {
	position: relative;
	h2{
		padding-left: 15px;
	}
	img{
		margin-top: -70px;
		position: relative;
		z-index: -5;
	}
	p{
		padding-left: 15px;
		padding-right: 15px;
	}
	.subtitle{
		font-family: $fontH;
		font-size: 24px;
		line-height: 33px;
	}
}