@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:600,600italic|Open+Sans:300,400,700);

$fontH: 'Josefin Slab', serif;
$fontB: 'Open Sans', sans-serif;


//Colors
$red: #cf1f26;


$padSmall: 0 15px;
$padMed: 0 30px;
$padLarge: 0 100px;

//Breakpoints
$menuBreak: 600px;

$ctaBreak: 600px;

$med: 700px;
$large: 900px;